.Soal18 {
    width: 400px;
    height: 300px;
    position: relative;
    background: #1A4341;
}
  
.Ellipse41 {
    width: 200px;
    height: 200px;
    left: 100px;
    top: 50px;
    position: absolute;
    background: #F3AC3D;
    border-radius: 9999px;
}
  
.Rectangle88 {
    width: 142px;
    height: 234px;
    left: 349.48px;
    top: -30px;
    position: absolute;
    transform: rotate(39.70deg);
    transform-origin: 0 0;
    background: #1A4341;
}
  
.Ellipse42 {
    width: 30px;
    height: 30px;
    left: 141px;
    top: 90px;
    position: absolute;
    background: #0C2429;
    border-radius: 9999px;
}
  
.Ellipse43 {
    width: 30px;
    height: 30px;
    left: 247px;
    top: 130px;
    position: absolute;
    background: #9E8139;
    border-radius: 9999px;
}
  
.Ellipse44 {
    width: 30px;
    height: 30px;
    left: 291px;
    top: 130px;
    position: absolute;
    background: #9E8139;
    border-radius: 9999px;
}
  
.Ellipse45 {
    width: 30px;
    height: 30px;
    left: 335px;
    top: 130px;
    position: absolute;
    background: #9E8139;
    border-radius: 9999px;
}
  
.arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 100px solid #1A4341;
    right: 70px; 
    top: 50%; 
    transform: translate(-30%, -50%) rotate(180deg); 
}