.Soal15 {
    width: 400px;
    height: 300px;
    background: #4FA07C;
}

.Ellipse26 {
    width: 250px;
    height: 250px;
    left: 65px;
    top: 25px;
    position: absolute;
    background: rgba(12, 20, 50, 0);
    border-radius: 9999px;
    border: 10px #0C1432 solid;
    
}

.Ellipse27 {
    width: 210px;
    height: 210px;
    left: 85px;
    top: 45px;
    position: absolute;
    background: rgba(12, 20, 50, 0);
    border-radius: 9999px;
    border: 10px #0C1432 solid;
    
}

.Ellipse28 {
    width: 100px;
    height: 100px;
    left: 140px;
    top: 100px;
    position: absolute;
    background: rgba(12, 20, 50, 0);
    border-radius: 9999px;
    border: 10px #0C1432 solid;
}

.Triangle1{
        position: absolute;
        width: 0;
        height: 0;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-bottom: 173.2px solid #F9FAE8;
        left: 100px;
        top: 135px;
}

.Triangle2{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 173.2px solid #F9FAE8;
    left: 100px;
    top: 7px;
    transform: rotate(180deg);
}

.Triangle3{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 173.2px solid #F9FAE8;
    left: 200px;
    top: 10px;
}
